@font-face {
    font-family: 'Fonte Normal';
    src: url('./ProductSans-Regular.ttf');
}
body{
    font-family: 'Fonte Normal';
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* mobile */
@media (max-width:768px){
        .primeira-section{
            display: flex;
            width: 100vh;
            height: 100vh;
            background: linear-gradient(0deg, rgba(82,23,137,1) 0%, rgba(49,14,81,1) 28%, rgba(21,6,35,1) 72%);
        }
        .header{
            display: flex;
        }
        .icone-profiabet{
            display: flex;
            position: absolute;
            margin-top: 60px;
            margin-left: 60px;
        }
        .login{
            display: flex;
            position: relative;
            margin-top: 140px;
            margin-left: 60px;
            gap:10px;
            flex-direction: row;
            position: relative;
        }
        .criar-conta{
            display: flex;
            width: 135px;
            height: 35px;
            border-radius: 20px;
            background-color: rgb(216, 158, 49);
            font-size: 12px;
            justify-content: center;
            align-items: center;
            color: white;
            border: 1px solid white;
        }
        .sessao{
            display: flex;
            width: 135px;
            height: 35px;
            border-radius: 20px;
            background-color: rgb(255, 255, 255);
            font-size: 12px;
            justify-content: center;
            align-items: center;
            color: rgb(82,23,137);
            border: 1px solid white;
        }
        .segunda-section{
            display: flex;
            position: relative;
            margin-top: -650px;
        }
        .foto-mobile{
            display: flex;
            position: relative;
            margin-left: 10px;
            margin-top: -40px;
        }
        .descricao{
            display: flex;
            position: relative;
            width: 330px;
            height: 220px;
            left: 45px;
            margin-top: -3px;
            border-radius: 15px;
            border: 3px solid rgb(89, 89, 177);
        }
        .titulo-descricao{
            color: white;
            position: relative;
            margin-top: 15px;
            left: 25px;
            font-size: 28px;
        }
        .descricao-texto{
            display: flex;
            position: relative;
            margin-top: -160px;
            width: 270px;
            height: 50px;
            left: 75px;
            color: white;
            text-align: center;
            font-size: 16px;
            font-weight:100;
        }
        .botao-leia-mais{
            display: flex;
            position: relative;
            margin-top: 130px;
            left: 150px;
            width: 115px;
            height: 35px;
            border-radius: 20px;
            background-color: white;
            color: rgb(82,23,137);
            font-size: 7px;
            justify-content: center;
            align-items: center;
        }
        .seta{
            display: flex;
            position: relative;
            margin-top: 40px;
            left: 150px;
            opacity: 40%;
        }
}
/* tablet */
@media (min-width:768px) AND (max-width:1024px){
        .primeira-section{
            display: flex;
            width: 100vh;
            height: 100vh;
            background: rgb(82,23,137);
            background: linear-gradient(0deg, rgba(82,23,137,1) 0%, rgba(49,14,81,1) 28%, rgba(21,6,35,1) 72%);
        }
        .header{
            display: flex;
        }
        .icone-profiabet{
            display: flex;
            position: absolute;
            margin-top: 100px;
            margin-left: 230px;
        }
        .login{
            display: flex;
            position: relative;
            margin-top: 180px;
            margin-left: 230px;
            gap:10px;
            flex-direction: row;
            position: relative;
        }
        .criar-conta{
            display: flex;
            width: 135px;
            height: 35px;
            border-radius: 20px;
            background-color: rgb(216, 158, 49);
            font-size: 12px;
            justify-content: center;
            align-items: center;
            color: white;
            border: 1px solid white;
        }
        .sessao{
            display: flex;
            width: 135px;
            height: 35px;
            border-radius: 20px;
            background-color: rgb(255, 255, 255);
            font-size: 12px;
            justify-content: center;
            align-items: center;
            color: rgb(82,23,137);
            border: 1px solid white;
        }
        .segunda-section{
            display: flex;
            position: relative;
            margin-top: -650px;
        }
        .foto-mobile{
            display: flex;
            position: relative;
            margin-left: 190px;
            margin-top: -100px;
        }
        .descricao{
            display: flex;
            position: relative;
            width: 330px;
            height: 220px;
            left: 210px;
            margin-top: -3px;
            border-radius: 15px;
            border: 3px solid rgb(89, 89, 177);
        }
        .titulo-descricao{
            color: white;
            position: relative;
            margin-top: 15px;
            left: 25px;
            font-size: 28px;
        }
        .descricao-texto{
            display: flex;
            position: relative;
            margin-top: -160px;
            width: 270px;
            height: 50px;
            left: 235px;
            color: white;
            text-align: center;
            font-size: 16px;
            font-weight:100;
        }
        .botao-leia-mais{
            display: flex;
            position: relative;
            margin-top: 130px;
            left: 320px;
            width: 115px;
            height: 35px;
            border-radius: 20px;
            background-color: white;
            color: rgb(82,23,137);
            font-size: 7px;
            justify-content: center;
            align-items: center;
        }
        .seta{
            display: flex;
            position: relative;
            margin-top: 40px;
            left: 310px;
            opacity: 40%;
        }
}
/* desktop */
@media (min-width:1024px){
        .primeira-section{
            display: flex;
            width: 100vh;
            height: 100vh;
            background: rgb(82,23,137);
            background: linear-gradient(0deg, rgba(82,23,137,1) 0%, rgba(49,14,81,1) 28%, rgba(21,6,35,1) 72%);          
        }
        .header{
            display: flex;
        }
        .icone-profiabet{
            display: flex;
            position: absolute;
            margin-top: 100px;
            margin-left: 230px;
        }
        .login{
            display: flex;
            position: relative;
            margin-top: 180px;
            margin-left: 230px;
            gap:10px;
            flex-direction: row;
            position: relative;
        }
        .criar-conta{
            display: flex;
            width: 135px;
            height: 35px;
            border-radius: 20px;
            background-color: rgb(216, 158, 49);
            font-size: 12px;
            justify-content: center;
            align-items: center;
            color: white;
            border: 1px solid white;
        }
        .sessao{
            display: flex;
            width: 135px;
            height: 35px;
            border-radius: 20px;
            background-color: rgb(255, 255, 255);
            font-size: 12px;
            justify-content: center;
            align-items: center;
            color: rgb(82,23,137);
            border: 1px solid white;
        }
        .segunda-section{
            display: flex;
            position: relative;
            margin-top: -650px;
        }
        .foto-mobile{
            display: flex;
            position: relative;
            margin-left: 190px;
            margin-top: -100px;
        }
        .descricao{
            display: flex;
            position: relative;
            width: 330px;
            height: 220px;
            left: 210px;
            margin-top: -3px;
            border-radius: 15px;
            border: 3px solid rgb(89, 89, 177);
        }
        .titulo-descricao{
            color: white;
            position: relative;
            margin-top: 15px;
            left: 25px;
            font-size: 28px;
        }
        .descricao-texto{
            display: flex;
            position: relative;
            margin-top: -160px;
            width: 270px;
            height: 50px;
            left: 235px;
            color: white;
            text-align: center;
            font-size: 16px;
            font-weight:100;
        }
        .botao-leia-mais{
            display: flex;
            position: relative;
            margin-top: 130px;
            left: 320px;
            width: 115px;
            height: 35px;
            border-radius: 20px;
            background-color: white;
            color: rgb(82,23,137);
            font-size: 7px;
            justify-content: center;
            align-items: center;
        }
        .seta{
            display: flex;
            position: relative;
            margin-top: 40px;
            left: 310px;
            opacity: 40%;
        }
}
